.steps {
    margin-block: 15px;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.step.completed {
    display: flex;
    box-shadow: 0px 6px 10px #5f2de624;
    background: #FCFCFE;
    padding: clamp(14px, 4vw, 20px);
    gap: 12px;
    border-radius: 15px;
    font-weight: 450;
    align-items: center;
    overflow-wrap: anywhere;
}
.step.current {
    display: flex;
    box-shadow: 0px 6px 10px #5f2de624;
    background: #FCFCFE;
    padding: clamp(14px, 4vw, 20px);
    gap: 12px;
    border-radius: 15px;
    font-weight: 450;
    align-items: center;
    overflow-wrap: anywhere;
    cursor: pointer;
}
.step.locked {
    display: flex;
    box-shadow: 0px 6px 10px #5f2de624;
    background: #dad9db;
    padding: clamp(14px, 4vw, 20px);
    gap: 12px;
    border-radius: 15px;
    font-weight: 450;
    align-items: center;
    overflow-wrap: anywhere;
    cursor: not-allowed;
    background-color: #FAF9FD;
}

.num-icon {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num-icon.completed {
    background-color: #5F2DE6;
    color: #fff;
}

.num-icon.current {
    background-color: #F3F1FD;
    color: #6b3ee7;
}

.num-icon.locked {
    background-color: #FAF9FD;
    color: #dedada;
}