.skill-card {
    background: #F9F7FD;
    border: 2px solid transparent;
    border-radius: 18px;
    padding: 10px;
    text-align: right;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    margin: 15px;
    width: auto;
}
.skill-card:hover {
    border-color: #D7CCFB;
    background: #F3F1FD;
}
.skill-card p {
    color: #5F6473;
}