.step-two-body .options {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.skill-card {
    background: #F9F7FD;
    border: 2px solid transparent;
    border-radius: 18px;
    padding: 10px;
    text-align: right;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    width: auto;
}
.skill-card:hover{
    border: 1px solid #D7CCFB;
    background: #F3F1FD;
}
.skill-card.selected {
    background: #F3F1FD;
    border:2px solid #5F2DE6;
}

.skill-check {
    position: absolute;
    top: 46px;
    left: 12px;
    background: #5F2DE6;
    color: #FCFCFE;
    border-radius: 50%;
    padding: 4px;
    width: 24px;
    height: 24px;
    z-index: 5;
}