.step-two-body .options {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.skill-card {
    background: #F9F7FD;
    border: 2px solid transparent;
    border-radius: 18px;
    padding: 10px;
    text-align: right;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    width: auto;
}