@font-face {
    font-family: 'Vazirmatn';
    src: url(../../font/Vazirmatn-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
    direction: rtl;
}
.sub-category {
    font-family: 'Vazirmatn' , sans-serif;
    background-color: #FCFCFE;
    width: 100%;
    max-width: 760px;
    height: auto;
    box-shadow: 0 20px 60px #5f2de624;
    border-radius: 18px;
    padding: 40px;
    margin: 60px auto;
}
.favorite-field {
    align-items: center;
    gap: 4px;
    display: flex;
    justify-content: center;
    color: #737891;
}
.categories {   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
